/.cache-main
/.classpath
/.project
/Ditto - 00 - is1 (Ctrl+Alt+1) Terenn-Twisting Nether - Trinity.jpg
/a.jpg
/is1 (Ctrl+Alt+1) Terenn-Twisting Nether - Trinity.jpg
/is2 (Ctrl+Alt+2) Samelor-Twisting Nether - Trinity.jpg
/bin/*
/target/*